<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--扫描包-->
    <context:component-scan base-package="com.ce"/>

    <!--视图解析器-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--告知前端控制器，哪些静态资源不拦截-->
    <!--js-->
    <mvc:resources mapping="/js/**" location="/js/"/>
    <!--css-->
    <mvc:resources mapping="/css/**" location="/css/"/>
    <!--images-->
    <mvc:resources mapping="/images/**" location="/images/"/>

    <!--配置异常处理器-->
    <bean id="sysExceptionResolver" class="com.ce.exception.SysExceptionResolver"/>

    <!--配置拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!-- 你要拦截的具体方法 -->
            <mvc:mapping path="/interceptor/*"/>
            <!--不拦截的方法-->
            <!-- <mvc:exclude-mapping path=""/>-->
            <!--配置拦截器对象-->
            <bean class="com.ce.interceptor.MyInterceptor1"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <!-- 你要拦截的具体方法 -->
            <mvc:mapping path="/interceptor/*"/>
            <!--不拦截的方法-->
            <!-- <mvc:exclude-mapping path=""/>-->
            <!--配置拦截器对象-->
            <bean class="com.ce.interceptor.MyInterceptor2"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--开启springMVC注解支持-->
    <mvc:annotation-driven/>
</beans>